{% extends "include/header.html" %}

{% load static %}

{% block title %}AGREGAR CLIENES{% endblock %}

{% block body %}

{% if ServiciosWeb.Servicio == True or perms.Aplicacion.add_tblserviciosweb %}

{% if perms.Aplicacion.add_tblclientes %}
<div class="card card-hdr">
    <div class="card-body">
        <h1>
            <a href="{% url 'T-Cliente' %}" class="btn h6-form"><i class="fa-solid fa-arrow-left"></i></a>
            EDITAR OPORTUNIDAD
        </h1>

        {% if messages %}
        {% for message in messages %}
        <div class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-primary{% endif %} notifications">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <form action="{% url 'ACRM_Oportunidades'%}" method="POST" autocomplete="off">{% csrf_token %}
            <div class="row fila">
                <div class="col-sm-12 col-md-12 col-lg col-xl columna">
                    <input type="hidden" name="id" value="{{TOportunidad.ID}}">
                    <h6 class="h6-form">VENDEDOR <label>*</label></h6>
                    <select class="select2 form-control col-12" name="vendedor" required>
                        <option value="{{ FiltradoVendedor.ID }}">-------{{ FiltradoVendedor.Nombre }} {{ FiltradoVendedor.Apellidos }}-------</option>
                        {% for dato in FVendedor %}
                        <option value="{{ dato.ID }}">{{ dato.Nombre }} {{ dato.Apellidos }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-12 col-md-12 col-lg col-xl columna">
                    <h6 class="h6-form">CONTACTO <label>*</label></h6>
                    <select class="select2 form-control col-12" name="contacto" required>
                        <option value="{{ FiltradoContacto.ID }}">-------{{ FiltradoContacto.Nombre }} {{ FiltradoContacto.PrimerApellido }} {{ FiltradoContacto.SegundoApellido }}-------</option>
                        {% for dato in FContacto %}
                        <option value="{{ dato.ID }}">{{ dato.Nombre }}
                            {{ dato.PrimerApellido }} {{ dato.SegundoApellido }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-12 col-md-12 col-lg col-xl columna">
                    <h6 class="h6-form">PRODUCTO <label>*</label></h6>
                    <select class="select2 form-control col-12" name="producto" required>
                        <option value="{{ FiltradoProducto.ID }}">-------{{ FiltradoProducto.Descripcion }}-------</option>
                        {% for dato in FProductos %}
                        <option value="{{ dato.ID }}">{{ dato.Descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-12 col-md-12 col-lg col-xl columna">
                    <h6 class="h6-form">ESTADO DE VENTA <label>*</label></h6>
                    <select class="select2 form-control col-12" name="venta" required>
                        <option value="{{ FiltradoEstadoVenta.ID }}">-------{{ FiltradoEstadoVenta.Descripcion }}-------</option>
                        {% for dato in FEstatusOportu %}
                        <option value="{{ dato.ID }}">{{ dato.Descripcion }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row fila">
                <div class="col-sm-12 col-md-12 col-lg col-xl columna">
                    <h6 class="h6-form">ACTIVIDAD <label>*</label></h6>
                    <select class="select2 form-control col-12" name="actividad" required>
                        <option value="{{ TOportunidad.SelectActividad }}">-------{{ TOportunidad.SelectActividad }}-------</option>
                        <option value="Distribuidor">Distribuidor</option>
                        <option value="Comisionista">Comisionista</option>
                        <option value="Consumidor">Consumidor</option>
                        <option value="Todas">Todas</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-12 col-lg col-xl columna">
                    <h6 class="h6-form">TIPO GANADO <label>*</label></h6>
                    <select class="select2 form-control col-12" name="tganado" required>
                        <option value="{{ TOportunidad.SelectTipoGanado }}">-------{{ TOportunidad.SelectTipoGanado }}-------</option>
                        <option value="Carne">Carne</option>
                        <option value="Lechero">Lechero</option>
                        <option value="Ambos">Ambos</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-12 col-lg col-xl columna">
                    <h6 class="h6-form">DESTINO <label>*</label></h6>
                    <select class="select2 form-control col-12" name="destino" required>
                        <option value="{{ TOportunidad.SelectDestino }}">-------{{ TOportunidad.SelectDestino }}-------</option>
                        <option value="Vende">Vende</option>
                        <option value="Exporta">Exporta</option>
                        <option value="Finaliza">Finaliza</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-12 col-lg col-xl columna">
                    <h6 class="h6-form">ALIMENTACIÓN <label>*</label></h6>
                    <select class="select2 form-control col-12" name="alimentacion" required>
                        <option value="{{ TOportunidad.SelectAlimentacion }}">-------{{ TOportunidad.SelectAlimentacion }}-------</option>
                        <option value="Consume ensacado">Consume ensacado</option>
                        <option value="Prepara formula">Prepara formula</option>
                        <option value="Compra Mat. Primas">Compra Mat. Primas</option>
                    </select>
                </div>
            </div>
            <div class="row fila">
                <div class="col-sm-12 col-md-12 col-lg col-xl columna">
                    <h6 class="h6-form">VOLUMEN <label>*</label></h6>
                    <input type="text" autofocus name="volumen" class=" form-control"
                        placeholder="Ingrese el volumen" value="{{TOportunidad.Volumen}}" >
                </div>
                <div class="col-sm-12 col-md-12 col-lg col-xl columna">
                    <h6 class="h6-form">MONTO </h6>
                    <input type="text" name="monto" class=" form-control" placeholder="Ingrese el monto"
                        value="{{ TOportunidad.MontoOpo }}">
                </div>
                <div class="col-sm-12 col-md-12 col-lg col-xl columna">
                    <h6 class="h6-form">FECHA CIERRE ESTIMADA</h6>
                    <input type="date" name="fechaCE" class=" form-control" 
                        value="{{ TOportunidad.FechaCierreEstim|date:'Y-m-d' }}">
                </div>
                <div class="col-sm-12 col-md-12 col-lg col-xl columna">
                    <h6 class="h6-form">FECHA DE CIERRE</h6>
                    <input type="date" name="fechaC" class=" form-control" 
                        value="{{ TOportunidad.FechaDeCierre|date:'Y-m-d' }}">
                </div>
            </div>




         
            <div class="form-group">
                <button type="submit" class="btn btn-primary agregarBoton" name="agregar" id="agregarBoton">Confirmar</button>
                
                <a href="{% url 'TCRM_Oportunidades'%}">
                    <button type="button" class="btn btn-danger cancelarBoton">Cancelar</button>
                </a>
            </div>
        </form>
    </div>
</div>


{% else %}
<div class="row centrar">
    <h6 class="h6-form">
        <i class="fa fa-ban"></i> <i class="fa fa-close"></i>
        No tienes los permisos necesarios para agregar el contenido de la tabla
        <i class="fa fa-close"></i> <i class="fa fa-ban"></i>
    </h6>
</div>
{% endif %}

{% else %}
<script>
    window.location.href = "{% url 'NoPago' %}";
</script>
{% endif %}

{% endblock %}